<% provide(:title, "Help-") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
  </head>
  <body>
    <h1>Sample App</h1>
    <p>
    This is the home page for the
    <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
    <%= link_to image_tag("conbo.jpg", alt: "Rails logo", width: "200px"),
      "https://rubyonrails.org/" %>
    </p>
  </body>
</html>
