<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Sample app", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Help", 'help' %></li>
        <li><%= link_to "Home", 'home' %></li>
        <li><%= link_to "Login", 'login' %></li>
      </ul>
    </nav>
  </div>
</header>